@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;600&display=swap');

/* =========================================
              Website Resets
============================================ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: 'Roboto Mono', monospace;

}

*::-moz-focus-inner {
  border: 0;
}

*:focus {
  outline: none;
}


body {
  width: 100vw;
  /* height: 100vh; */
  overflow-x: hidden;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D1D5D9;
}