@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;600&display=swap');

/* =========================================
              Website Resets
============================================ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: 'Roboto Mono', monospace;

}

*::-moz-focus-inner {
  border: 0;
}

*:focus {
  outline: none;
}


body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D1D5D9;
}

/*tablet landscape and desktop layout (960px or more) */
@media only screen and (min-width: 960px) {
  /*...tablet landscape and desktop styles */
}

/*table portrait layout (768px to 959px) */
@media only screen and (max-width: 959px) {
  /*... tablet portrait styles */
}

/*mobile landscape layout (480px to 767px) */
@media only screen and (max-width: 767px) {
  /*...mobile landscape styles */
}

/*mobile portrait layout (479px or less) */
@media only screen and (max-width: 479px) {
  /*...mobile portrait styles */
  body {
    margin-left: auto;
    margin-right: auto;
  }
}